<body style="background-color:#f0f0f0;">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <br>

      <div class="card">
        <div class="card-body">
           
          <br>
          <div class="d-flex justify-content-center">
          <h1>Hireme</h1>
          </div>
          <br><br>
          <div class="d-flex justify-content-center">
          <h4>Sign Up</h4>
          </div>
          <br>
          <hr>
          <br>
  
        <form #signupform="ngForm" (ngSubmit)="signupsub(signupform)">
          
          <div class="form-group">
            <input type="email" class="form-control form-control-lg" #email="ngModel"  name="email" placeholder="Email Address" required ngModel>
          </div>

          <div class="form-group">
            <input type="password" class="form-control form-control-lg" #password="ngModel"  name="password" placeholder="Password" required ngModel>
          </div>

          <button type="submit" class="btn btn-primary btn-block btn-lg"><b>Join Hireme</b></button>
        </form>

        <br><br>
          <hr>
          <div class="d-flex justify-content-center">
            Already have an account?<a routerLink="/login" routerLinkActive="active">Sign Up</a>
          </div>
        </div>
        </div>
        <br>
  </div>
  <div class="col-sm-4"></div>
</div>

</body>
