
<body style="background-color:#f0f0f0;">
<app-header></app-header>
<br><br><br>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <b>Skills</b><hr>
    <form>
      <div class="checkbox">
        <label><input type="checkbox" name="html" [(ngModel)]="booleanArrayOfSkills[1]" (click)="changeInArray(html,1)">HTML</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="css" [(ngModel)]="booleanArrayOfSkills[2]" (click)="changeInArray(css,2)">CSS</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox"  name="js" [(ngModel)]="booleanArrayOfSkills[3]" (click)="changeInArray(js,3)">Javascript</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="angular" [(ngModel)]="booleanArrayOfSkills[4]" (click)="changeInArray(ang,4)">Angular</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="mongo" [(ngModel)]="booleanArrayOfSkills[5]" (click)="changeInArray(mongo,5)">MongoDB</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="express" [(ngModel)]="booleanArrayOfSkills[6]" (click)="changeInArray(express,6)">Express</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="node" [(ngModel)]="booleanArrayOfSkills[7]" (click)="changeInArray(node,7)">Node.js</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="php" [(ngModel)]="booleanArrayOfSkills[8]" (click)="changeInArray(php,8)">PHP</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="android" [(ngModel)]="booleanArrayOfSkills[9]" (click)="changeInArray(android,9)">Android</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="ios" [(ngModel)]="booleanArrayOfSkills[10]" (click)="changeInArray(ios,10)">iOS</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="logo-design" [(ngModel)]="booleanArrayOfSkills[11]" (click)="changeInArray(logo_design,11)">Logo Design</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="data-entry" [(ngModel)]="booleanArrayOfSkills[12]" (click)="changeInArray(data_entry,12)">Data Entry</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="mysql" [(ngModel)]="booleanArrayOfSkills[13]" (click)="changeInArray(mysql,13)">MySQL</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="web-hosting" [(ngModel)]="booleanArrayOfSkills[14]" (click)="changeInArray(web_hosting,14)">Web Hosting</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="software-testing" [(ngModel)]="booleanArrayOfSkills[15]" (click)="changeInArray(software_testing,15)">Software Testing</label>
      </div>

    </form>
  </div>
  <div class="col-sm-7">
    <div *ngIf="!filter">

    <div *ngFor="let p of allProjects">
     <div class="card">
            <div class="card-header">
              <div class="d-flex justify-content-start">{{p.title}}</div>
              <div class="d-flex justify-content-end"><i>Rs.</i><b>{{p.budget}}</b></div>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-start">{{p.description}}</div>
            <div class="d-flex justify-content-end">
              <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary text-white" ><b>Bid</b></button>
               <!-- The Modal -->
               <div class="modal" id="myModal">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Bid Proposal</h4>
                      <button type="button" class="close" data-dismiss="modal" (click)="bidPlacedFn()">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="alert alert-light">
                            As a new freelancer, get started by bidding on two (2) projects.
                            Be as detailed as possible when filling your proposal to increase your chances of being awarded the project.
                            Check out our Ten Tips for Writing an Effective Bid article to help you get started.
                        </div>
                                <form #bidform="ngForm" (ngSubmit)= submitbid(bidform.value,p.title)>
                                  <div class="form-group">
                                    <label for="bid">Bid Amount:</label>
                                    <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">Rs.</span>
                                    </div>
                                    <input type="text" class="form-control" id="bid" #bidAmount="ngModel" name="bidAmount" required ngModel>
                                  </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="time">Time Duration:</label>
                                    <div class="input-group">
                                    <input type="text" class="form-control" id="time" #timeDuration="ngModel" name="timeDuration" required ngModel>
                                    <div class="input-group-append">
                                      <span class="input-group-text">Days</span>
                                    </div>
                                  </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="desc">Description:</label>
                                    <textarea class="form-control" rows="5" #bidDescription="ngModel" name="bidDescription" ngModel></textarea>
                                  </div>
                                  <button type="submit"  class="btn btn-primary text-white font-weight-bold mb-2" >Place Bid</button>
                                </form>
                                <div *ngIf="bidPlaced">
                                  <p style="color: darkgreen; text-align: center; font-weight: bold;">You have successfully placed the bid!</p>
                                </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="bidPlacedFn()">Close</button>
                    </div>

              </div>
            </div>
          </div>
            </div>

          </div>
            <div class="card-footer">{{p.skills}}</div>
      </div><br>
    </div>
    </div>

    <div *ngIf="filter">

        <div *ngFor="let p of filteredProjects">
           <div class="card">
            <div class="card-header">
              <div class="d-flex justify-content-start">{{p.title}}</div>
              <div class="d-flex justify-content-end"><i>Rs.</i><b>{{p.budget}}</b></div>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-start">{{p.description}}</div>
              <div class="d-flex justify-content-end">
                <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary text-white" ><b>Bid</b></button>

                    <!-- The Modal -->
                    <div class="modal" id="myModal">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Bid Proposal</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>

                          <!-- Modal body -->
                          <div class="modal-body">
                              <div class="alert alert-light">
                                  As a new freelancer, get started by bidding on two (2) projects.
                                  Be as detailed as possible when filling your proposal to increase your chances of being awarded the project.
                                  Check out our Ten Tips for Writing an Effective Bid article to help you get started.
                              </div>
                                      <form #bidform="ngForm" (ngSubmit)= submitbid(bidform.value,p.title)>
                                        <div class="form-group">
                                          <label for="bid">Bid Amount:</label>
                                          <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">Rs.</span>
                                          </div>
                                          <input type="text" class="form-control" id="bid" #bidAmount="ngModel" name="bidAmount" required ngModel>
                                        </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="time">Time Duration:</label>
                                          <div class="input-group">
                                          <input type="text" class="form-control" id="time" #timeDuration="ngModel" name="timeDuration" required ngModel>
                                          <div class="input-group-append">
                                            <span class="input-group-text">Days</span>
                                          </div>
                                        </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="desc">Description:</label>
                                          <textarea class="form-control" rows="5" #bidDescription="ngModel" name="bidDescription" required ngModel></textarea>
                                        </div>
                                        <button type="submit"  class="btn btn-primary text-white font-weight-bold mb-2">Place Bid</button>
                                      </form>


                          </div>

                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">{{p.skills}}</div>
          </div><br>
        </div>
        </div>

  </div>
  <div class="col-sm-1"></div>
</div>


</body>
