<app-header></app-header>
<br><br>

<div toastContainer></div>

<div class="row" >
  <div class="col-sm-1"></div>
  <div class="col-sm-6">
    <h3 (click)="ss()">Projects I placed a bid upon</h3><hr>
    <div *ngIf="userbidded; else elseBlock">
      <div *ngFor="let b of specific_bids">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Project Title</th>
                  <th scope="col">Bid Amount</th>
                  <th scope="col">Time Duration</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{b.title}}</td>
                  <td>{{b.bidAmount}}</td>
                  <td>{{b.timeDuration}}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
    <ng-template #elseBlock>
       <p>No recent projects!</p>
      </ng-template>


    <h3>Projects Posted by myself</h3><hr>
    <div *ngIf="userposted; else elseBlock2">
      <div *ngFor="let p of specific_projects">
          <a data-toggle="modal" data-target="#myModal">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Project Title</th>
                  <th scope="col">Skills</th>
                  <th scope="col">Description</th>
                  <th scope="col">Budget</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{p.title}}</td>
                  <td>{{p.skills}}</td>
                  <td>{{p.description}}</td>
                  <td>{{p.budget}}</td>
                </tr>
              </tbody>
            </table></a>
            <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Bids on your Project</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div *ngIf="bids; else elseBlock2">
              <div>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th>Bidder name</th>
                  <th>Bid Amount</th>
                  <th>Time Duration</th>
                  <th>Bid Description</th>
                  <th>       Message      </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let b of bids">
                  <td>{{b.username}}</td>
                  <td>{{b.bidAmount}}</td>
                  <td>{{b.timeDuration}}</td>
                  <td>{{b.bidDescription}}</td>
                  <td><button class="btn btn-primary" (click)="goToLink( b.username)" >Chat with {{b.username}} </button></td>
                </tr>

              </tbody>
            </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
          </div>
    </div>
    <ng-template #elseBlock2>
      <p>No projects posted!</p>
     </ng-template>
  </div>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png"></div>
      <div class="col-sm-6">
        Welcome back,
        <h2>{{username}}</h2>
        <button class="btn btn-primary" [routerLink]="['/profile']">Set up your Profile</button>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
